# Virtual environment
.venv/

# credenciales service principal
.env
credenciales.txt

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Airflow
airflow/logs/
airflow/config/
airflow/.env

# Python
__pycache__/